body{
  background-color: #131A20  !important;
}

.App {
  text-align: center;
}

.container{
  max-width: 90% !important;
}

.App-header {
  margin-top: 10px;
  font-size: 15px;
  color: white;
  flex-direction: row;
  align-items: center;
  margin-bottom: 100px;
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.Logo{
  height: 30px;
}

.ActiveNav{
  height: 100%;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 0;
}

.InactiveNav{
  height: 100%;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 0;
  color: #5A6268 !important;
}


.App-link {
  color: #61dafb;
}

.card-body{
  height: 250px;
}

.card-title{
  height: 80px;
  font-size: 25px;
}

.card{
  margin-bottom: 15px;
}
